html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

nav {
  position:fixed;
  top: 0;
  width: 100%;
  height: 120px;
  color: #FFFFFF;
  background-color: #335c67;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  z-index: 0;
}
nav > span {
  font-size: 35px;
  font-family: "Bungee", cursive;
}


.write {
  font-weight: bold;
}

.lbl {
  margin-top: 80px;
  margin-left: 20px;
  margin-bottom: 0px;
  padding-top: 10px;
}

.mt {
  padding-bottom: 50px;
  margin-left: 90px;
  color: red;
}

