html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.new-tweet {
  background-color: #f2cc8f;
  margin-top: 120px;
  margin-bottom: 3em;
}

textarea {
  background-color: #f2cc8f;
  display: flex;
  flex-direction: column;
  border: none;
}

.straighten {
  display: flex;
  flex-direction: column;
}

.counter {
  font-family: "Bungee", cursive;
}

.twt {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-top: 2px solid black;
  padding-top: 10px;
}

.button {
  background-color:#4056A1;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Bungee", cursive;
  font-size: 16px;
}

.button {
  background-color: #335c67;
}